@font-face {
    font-family: copper;
    src: url(./Font_Family/CooperLtBT-Regular.ttf);
}

@font-face {
    font-family: san;
    src: url(./Font_Family/sequel-sans-displaysequel-sans-display-Regular-undefined.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: copper;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;

}

/***** Nav Section *****/

nav {
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 0 30px;
    font-family: san;
}


.navlink ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink ul li {
    display: inline-block;
    padding: 10px 20px;
}

.navlink ul li a {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    position: relative;
}

.navlink ul li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease-out 0.3s;
    opacity: 0;
    border-bottom: 3px solid springgreen;
}

.navlink ul li a:hover::after {
    opacity: 1;
}

.navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navlink button {
    cursor: pointer;
    padding: 8px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    border: 1px solid grey;
    font-family: Arial, Helvetica, sans-serif;
}


.navlink button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.4s ease;
    background-color: springgreen;
    border-radius: 50px;
}

.navlink button:hover::before {
    left: 0;
}

.navlink button a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

/* Mobile menu  */
.navMenu {
    display: none;

}

/***** End Nav Section *****/

/***** Hero Section *****/


.hero {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-text h1 {
    width: 80%;
    font-size: 5.1vw;
    font-weight: 100;
    position: relative;
    text-align: center;
    line-height: 6.2vw;
    z-index: 99;
    pointer-events: none;
}

.hero-text h1::after {
    content: "";
    width: 40%;
    height: 16px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, 0);
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    background-size: cover;
}

.hero-text h2 {
    position: absolute;
    top: 70%;
    left: 42%;
    margin-top: 30px;
    font-family: sans-serif;
    letter-spacing: -0.2px;
    font-size: 1.6vw;
    font-weight: 500;
    text-align: center;
}

.hero-text h2 button {
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 50px;
    border: 1px solid rgba(128, 128, 128, 0.907);
    position: relative;
    overflow: hidden;
}

.hero-text h2 button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.4s ease;
    background-color: springgreen;
    border-radius: 50px;
    z-index: -1;
}

.hero-text h2 button:hover::before {
    left: 0;
}

.hero-text h2 button svg {
    margin: 0;
}

.hero-images {}


.hero-images .hero-img1 {
    width: 360px;
    height: 510px;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: absolute; */
    top: 16%;
    left: 9%;
    z-index: 1;
}

.hero-images .hero-img2 {
    width: 260px;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: absolute; */
    top: 17%;
    right: 24%;
    z-index: 1;
}

.hero-images .hero-img3 {
    width: 290px;
    height: 290px;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: absolute; */
    top: 51%;
    right: 8%;
    z-index: 1;
}

img {
    transition: margin 0.8s ease;
}

.hero-images img:hover {
    box-shadow: 0 2px 10px rgba(46, 45, 45, 0.323);
    margin-top: -10px;

}



/***** End Hero Section *****/

@media (max-width:600px) {
    nav {
        padding: 0 18px;
        height: 70px;
    }

    nav .logo {
        scale: 1;
    }

    .navMenu {
        display: block;
    }

    .navlink {
        display: none;

    }

    .hero {
        /* width: 100%;
        height: 50vh; */
        /* background-color: red; */
        flex-direction: column;

        /* overflow-y: auto;
        overflow-x: scroll; */
    }

    .hero-text {
        width: 100%;
        height: 50vh;
    }

    .hero-text h1 {
        font-size: 8vw;
        line-height: 9vw;
    }

    .hero-text h1::after {
        bottom: -16px;
    }

    .hero-text h2 {
        top: 30%;
        left: 30%;
        font-size: 1rem;
    }
    .hero .hero-images{
        display: flex;
        overflow: hidden;

    }

    .hero .hero-images img {
        width: 360px;
        height: 510px;
    }
}